node_modules
.pnpm-store
.next
.turbo
coverage
dist
.temp
*.log
*.tsbuildinfo
apps/user-frontend/dist
apps/user-frontend/.temp
apps/user-frontend/.taro
apps/user-frontend/.swc
apps/api-gateway/.runtime/
apps/worker-orchestrator/.runtime/
apps/webhook-dispatcher/.runtime/
